/* line 7, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/produtos.css.scss */
.slide-image {
  width: 100%;
}

/* line 11, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/produtos.css.scss */
.carousel-holder {
  margin-bottom: 30px;
}

/* line 16, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/produtos.css.scss */
.carousel-control,
.item {
  border-radius: 4px;
}

/* line 20, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/produtos.css.scss */
.caption {
  height: 60px;
  overflow: hidden;
}

/* line 25, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/produtos.css.scss */
.caption h4 {
  white-space: nowrap;
}

/* line 29, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/produtos.css.scss */
.thumbnail img {
  width: 100%;
}

/* line 33, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/produtos.css.scss */
.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

/* line 39, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/produtos.css.scss */
.thumbnail {
  padding: 0;
}

/* line 43, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/produtos.css.scss */
.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

/* line 48, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/produtos.css.scss */
footer {
  margin: 50px 0;
}
