/* line 5, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/devise/devise.css.scss */
#new_cliente {
  width: 40%;
  margin: 0 auto;
}

/* line 10, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/devise/devise.css.scss */
.botao-grande {
  width: 50%;
}

/* line 14, /home/victor/RubymineProjects/PalomLoja/app/assets/stylesheets/devise/devise.css.scss */
.btn-group {
  width: 100%;
}
