// Place all the styles related to the Produtos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_cliente {
  width: 40%;
  margin: 0 auto;
}

.botao-grande {
  width: 50%;
}

.btn-group {
  width: 100%;
}